<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <h1>TaskManager</h1>
</header>
<div class="content">
    <div class="info">
        <div id="date-time"></div>
        <div id="weather">
            <img src="" alt="Weather Icon" id="weather-icon">
            <div>
                <div id="weather-location"></div>
                <div id="weather-temp"></div>
            </div>
        </div>
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <a href="/board" class="button">게시판</a>
            <a href="/todo" class="button">투두리스트</a>
            <a href="/member/login" class="button">로그인하기</a>
        </div>
    </div>
</div>
<footer>
    <p>&copy; 2024 TaskManager</p>
</footer>
<script src="js/index.js"></script>
</body>
</html>
