<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/todo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/todo.js"></script>
</head>
<body>
<div class="container">
    <h1 class="title">Todo List</h1>
    <form id="todoForm" method="post">
        <input type="text" id="todoInput" name="todoTask" placeholder="할일을 입력하세요">
        <button type="submit" class="add-btn">추가</button>
    </form>
    <ul id="todoList"></ul>
    <a href="/" class="button home-button">홈으로</a>
</div>
</body>
</html>
